
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>自贡城乡管理执法信息系统</title>
    @*<link rel="stylesheet" type="text/css" href="~/static/admin/layui/css/layui.css" />
        <link rel="stylesheet" type="text/css" href="~/static/admin/css/admin.css" />*@
    <link href="~/static/admin/css/admin.css" rel="stylesheet" />
    <link href="~/static/admin/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
    <div class="main-layout" id='main-layout'>
        <!--侧边栏-->
        <div class="main-layout-side">
            @*<div class="m-logo">
            </div>*@
            <ul class="layui-nav layui-nav-tree" lay-filter="leftNav">
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;"><i class="iconfont">&#xe607;</i>综合执法</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-url="/Manger/JiDiEdit" data-id='2' data-text="提交案件"><span class="l-line"></span>提交案件</a></dd>
                        <dd><a href="javascript:;" data-url="/Manger/AboutEdit" data-id='1' data-text="案件查询"><span class="l-line"></span>案件查询</a></dd>
                        <dd><a href="javascript:;" data-url="/Manger/WorkAdressEdit" data-id='10' data-text="结案通知"><span class="l-line"></span>结案通知</a></dd>
                       
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;"><i class="iconfont">&#xe608;</i>案件详情</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-url="/Manger/News" data-id='3' data-text="案件管理"><span class="l-line"></span>案件管理</a></dd>
                        <dd><a href="javascript:;" data-url="/Manger/NewsSort" data-id='9' data-text="分类管理"><span class="l-line"></span>分类管理</a></dd>
                    </dl>
                </li>
                <!--<li class="layui-nav-item">
                <a href="javascript:;"><i class="iconfont">&#xe608;</i>产品管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;" data-url="/Manger/Product" data-id='11' data-text="产品管理"><span class="l-line"></span>产品管理</a></dd>-->
                @*<dd><a href="javascript:;" data-url="/Manger/NewsSort" data-id='12' data-text="分类管理"><span class="l-line"></span>分类管理</a></dd>*@
                <!--</dl>
                </li>-->
                <li class="layui-nav-item">
                    <a href="javascript:;" data-url="/Manger/Email" data-id='4' data-text="基层反馈"><i class="iconfont">&#xe603;</i>基层反馈</a>
                </li>
               
                <li class="layui-nav-item">
                    <a href="javascript:;" data-url="/Manger/Self" data-id='5' data-text="个人信息"><i class="iconfont">&#xe606;</i>个人信息</a>
                </li>
            </ul>
        </div>
        <!--右侧内容-->
        <div class="main-layout-container">
            <!--头部-->
            <div class="main-layout-header">
                <div class="menu-btn" id="hideBtn">
                    <a href="javascript:;">
                        <span class="iconfont">&#xe60e;</span>
                    </a>
                </div>
                <ul class="layui-nav" lay-filter="rightNav">
                    <li class="layui-nav-item"><a href="javascript:;" data-url="/Manger/Email" data-id='4' data-text="执法反馈"><i class="iconfont">&#xe603;</i></a></li>
                    <li class="layui-nav-item">
                        <a href="javascript:;" data-url="/Account/ChangePassword" data-id='5' data-text="个人信息">你好 @User.Identity.Name!</a>
                    </li>
                    @*<li class="layui-nav-item"><a asp-area="Identity" asp-page="/Account/Logout">退出</a></li>*@
                    <li class="layui-nav-item"><a href="/Account/OnPost">退出</a></li>

                </ul>
            </div>
            <!--主体内容-->
            <div class="main-layout-body">
                <!--tab 切换-->
                <div class="layui-tab layui-tab-brief main-layout-tab" lay-filter="tab" lay-allowClose="true">
                    <ul class="layui-tab-title">
                        <li class="layui-this welcome">后台主页</li>

                    </ul>

                    <div class="layui-tab-content">

                        <div class="layui-tab-item layui-show" style="background: #f5f5f5;">

                            <!--1-->
                            <iframe src="/Manger/Welcome" width="100%" height="100%" name="iframe" scrolling="auto" class="iframe" framborder="0"></iframe>
                            <!--1end-->
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!--遮罩-->
        @*<div class="main-mask">

            </div>*@
    </div>
    <script src="~/static/admin/layui/layui.js"></script>
    <script src="~/static/admin/js/common.js"></script>
    <script src="~/static/admin/js/main.js"></script>
</body>
</html>
